<div class="chapter_head">

    <!--<div class="chapter_number">CHAPTER 1</div>-->
    <div class="chapter_title">CHAPTER 1</div>

</div>

<div id="chapter1_body" class="chapter_body">



    <div id="chpt1_sec1" class="section">
    <p><p class="first_letter">T</p>o understand the journey I've been on for the last year, the journey that was completed when
    I finally published this piece, I want to take you to the beginning.</p>

    <p>It all started with a cryptic message I received. The message came from a source who I'll refer to as Johnny. </p>

    <!--message-->

    <div id="puzzle1">

        <div>I</div><div>H</div><div>A</div><div>V</div><div>E</div><div>A</div><div>Q</div><div>U</div><div>?</div>
        <div>S</div><div>T</div><div>I</div><div>O</div><div>N</div><div>F</div><div>O</div><div>R</div><div>Y</div>
        <div>O</div><div>U</div>

        <div>W</div><div>O</div><div>U</div><div>L</div><div>D</div><div>Y</div><div>O</div><div>U</div><div>L</div>
        <div>I</div><div>K</div><div>E</div><div>T</div><div>O</div><div>H</div><div>E</div><div>A</div><div>R</div>
        <div>I</div><div>T</div>


    </div>

    <p>As a reporter I've received strange, even cryptic, messages before. But this one stuck out. I was curious.
        So I replied "yes." Several days went by and I did not receive a response. A day later I tried again.
        It took me some time before I realized that the sender was looking for a very particular response.</p>


        <div class=puzzle_input></div><div class=puzzle_input_decorator>&gt</div>
        <form id=puzzle1_form_command autocomplete="off">
            <input type="text" name="command" id="puzzle1_input">
            <input type="submit" value="Submit" id="puzzle1_submit">
        </form>


    </div>

    <div class="scroll_down_container">

        <div id="chpt1sec1_scroll_down">

            <!--<div class=scroll_arrow_container>-->
                <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">-->
                    <!--<path fill-opacity="0" stroke-width="1" stroke="#bbb" d="M0 0 L30 32 L60 0"/>-->
                    <!--<path id="arrow-path1_ch1sec1" fill-opacity="0" stroke-width="1" stroke="#ED6A5A" d="M0 0 L30 32 L60 0"/>-->
                <!--</svg>-->
            <!--</div>-->

            <!--<div class=scroll_arrow_container>-->
                <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">-->
                    <!--<path fill-opacity="0" stroke-width="0" stroke="#bbb" d="M0 20 L30 52 L60 20"/>-->
                    <!--<path id="arrow-path2_ch1sec1" fill-opacity="0" stroke-width="1" stroke="#ED6A5A" d="M0 20 L30 52 L60 20"/>-->
                <!--</svg>-->
            <!--</div>-->

            <!--<div class=scroll_arrow_container>-->
                <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">-->
                    <!--<path fill-opacity="0" stroke-width="0" stroke="#bbb" d="M0 40 L30 72 L60 40"/>-->
                    <!--<path id="arrow-path3_ch1sec1" fill-opacity="0" stroke-width="1" stroke="#ED6A5A" d="M0 40 L30 72 L60 40"/>-->
                <!--</svg>-->
            <!--</div>-->


        </div>

    </div>


    <div id="chpt1_sec2" class="section">

        <p>RDI was the correct response, apparently, because I finally got a response. He'd given me a cipher, and not the last one I'd later find out.</p>
        <p>When I asked what the question was, he told me it'd be easier to discuss on ORC. What follows
        is a transcript of my first chat with @johnny.</p>

        <div class="transcript">

            <hr>

            <div class="orc_author">@moore:</div><div class="orc_msg">Hello.</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">Hi.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">should I call you johnny?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">sure.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">so, Johnny, what's with the cipher?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">Proof-of-work. We needed to find someone willing to put in the effort.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">We?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">we sent that message to 30 journalists.  15 wrote back "yes".  You were the only one who figured out the correct response.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">took me a few days...</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">time isn't a constraint here.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">you said "we"</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">in the 19xx's some researchers did a study on predictors of mathematical ability. They gave students an exam - but first required them to fill out an exhaustive questionnaire: name, age, gpa, parents income, etc.  do you know what they found was the best predictor of high mathematical ability?</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">how much of the questionnaire the student bothered to fill out. Of all the variables, the proxies for IQ and socio-economic status and previous mathematical knowledge, here was the key: perseverance.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">that's interesting.</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg"> I don't give a damn what your IQ is - I need to know you will follow the rabbit down the hole.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">I'm really the only one who responded correctly?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">the only one.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">so what's the question?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">you've heard of Alexa Fairchild?</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">of course.</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">we've been working on a theory about her death.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">theory? Hasn't that mystery been solved?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">by that idiot Elliott Jackson?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">do you know Elliott Jackson did before he published that story on Alexa Fairchild?</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">no.</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">he published a story called "Moral Hazard" in some second tier True Crime mag. It was about a guy accused of killing a woman in the town of Hazard, Il back in the 1980's.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">ok. Never heard of that story.</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">yeah, because he had to retract it a week in - he'd based his whole story on some "info" he'd gathered from some undisclosed source on the dark web.  Within a couple days of its publication readers of the magazine were calling bullshit: His "info" turned out to be nothing more than lyrics from a song that was popular in the 80's.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">really?  I'd never heard that.</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">yeah- the guy never even bothered to check out the old Wiki records. If he had he'd have seen there was a whole entry on the song that listed most of the lyrics.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">even if he was a hack the story on Fairchild was huge - surely if there were obvious holes someone would have found them?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">true. But suppose the holes weren't obvious. Jacobs was spoon fed that story by a source- he admits as much. And he was the only one in a position to dig deep on every detail.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">you don't believe that Aaron Hillman killed Alexa Fairchild?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">no.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">do you have any evidence?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">yes.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg">are you willing to share it with me?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">yes, but not yet. First I need you to finish the questionairre.</div>
            <div class="orc_author">@moore:</div><div class="orc_msg"> ?</div>
            <div class="orc_johnny">@johnny:</div><div class="orc_msg">I'll send you another message in a few days. Stand by.</div>

            <hr>



        </div>


        <p>Three days after our exchange I received another message from Johnny. The message included a random string of letters and numbers, along with a note:</p>

        <i>Can't be too careful. I'm attaching something for you to decrypt. I've already given you the key.</i>

        <p>I'd never had to manually decrypt something myself, but it turned out to be fairly easy to find an online decryption app. I pasted in the encrypted string and then spent 3 hours trying different keys.</p>

        <p>Johnny</p>
        <p>Alexa</p>
        <p>Alexafairchild</p>
        <p>Fairchild</p>

        <p>I started to wonder if this was all some prank. But during a break from punching in keys I found Jackson's retracted story. It did seem odd that someone who'd made such a basic journalistic mistake would land the biggest historical crime story of the last 30 years.</p>

        <p>So I dutifully turned back to trying various keys.</p>


        <div id="puzzle2_app">

            <div id="puzzle2_input_string">13458123458132641024576234832934824757881238868234999234875645651287387210304923754</div>
            <div id="puzzle2_key_form">

                <div class=puzzle_input></div><div class=puzzle_input_decorator>&gt</div>
                <form id=puzzle2_form_command autocomplete="off">
                    <input type="text" name="command" id="puzzle2_input">
                    <input type="submit" value="Submit" id="puzzle2_submit">
                </form>

            </div>
            <div id="puzzle2_output_string">555235346</div>



        </div>


    </div>

    <div id="chpt1_sec3" class="section">

        [section 3 stuff]

    </div>


</div>

