
<div class="chapter_head">

    <div class="chapter_number">II</div>
    <div class="chapter_title">HER LIFE</div>

</div>

<div id="chapter2_body" class="chapter_body">

    <div id="chpt2_sec1" class="section1">

    <p><p class="first_letter">T</p>o understand the journey I've been on for the last year, the journey that was completed when
    I finally published this piece, I want to take you to the beginning.</p>

    </div>

    <div id="chpt2_sec2" class="section2">

        [section 2 stuff]

    </div>

    <div id="chpt2_sec3" class="section3">

        [section 3 stuff]

    </div>


</div>

