<div id="reader_name" class="header">Milieu</div>
<!--<div id="navigate" class="header"></div>-->

<div id="comments" class="header"><i class="fa fa-comments-o header_icon" aria-hidden="true"></i></div>
<div id="shares_container" class="header"></div>
<!--<div id="database" class="header">Database</div>-->