<div id="article_head">
    <img id="article_head_image" src="../../../images/alexa_cover.jpg">
    <div id="head_image_filter"></div>
    <div id="art_title_container"><div id="article_title" class="article_title">FAIRCHILD</div></div>
    <div id="article_subtitle" class="article_title">DH Moore</div>
</div>

<div class="intro_chapter_head">

    <div class="intro_chapter_title">INTRODUCTION</div>

</div>

<div id="intro_body" class="section_body">


    <p class="first_letter">I</p><p>t's been over two decades since Elliott Jackson's <i>The Vanishing of Alexa Fairchild</i> was first published.
        The story was praised as first rate journalism in an era of hacks who were
        long on prose and short on facts. One of the last great true crime pieces - before the Database
        had been mined clean. Jackson was Truman Capote come back to life and Fairchild was
        his Clutter family.</p>

    <p>The Vanishing was a masterpiece.</p>

    <p>It was also, I now know, completely wrong.</p>

    <p>Alexa Fairchild did vanish - for a time - but not as Jackson would have you believe.</p>

    <p> This is the story of what happened to Alexa Fairchild. But it is also a story about what has
        happened to all of us. A story of many victims, and of many survivors.</p>

    <p>If this all sounds dramatic now, rest assured it won't by the time you've finished reading.</p>



</div>

