
<div class="chapter_head">

    <div class="chapter_title">CHAPTER 4</div>

</div>


<div class="section">

    <div class="section_body">

    <p>In building his case, Elliott Jackson had only the bits and pieces about Alexa Fairchild that we've already seen. An old wikipage, the Times profile and the clip on her disappearance. He didn't have any mention of her being murdered or even any evidence of a crime being committed.

    What he did have was an old book (or a copy of it from the Register) called "The Psychopath Handbook," - which was published in X. The book chronicled several different serial killers and their victims. Several chapters of the book were devoted to a man named Aaron Hillman, who had apparently killed at least eight different women over the period X-X.

    Jackson honed in on a section of the book in which Hillman (who had been interviewed while in prison)
        referenced a murder that apparently no one had known about.</p>

    <p>There was one woman, I found at a bar in New York City. Maybe mid-thirties, short, brown hair - pretty. I remember she had one of
        those barcode tatoos. Never found out her name.
        I followed her after she left. I didn't always know ahead of time, you know, if I was going to do anything. Sometimes
        I'd follow someone for a while and then I'd decide I wanted to do something else instead. That night, as I followed
        her, I didn't know what I was going to do. Do you know how it feels when you are driving, lost in thought and
        suddenly you snap back into 'driving mode' and wonder how the hell you didn't crash the car during that time
        you'd been lost in thought? That's how it would happen sometimes. I'd be following someone, lost in some thoughts,
        then suddenly I snap back into the present and I have my hands around their neck. That's how it happened with her.
        You'd be surprised how easy it is, or was back then anyways, to drag a dead body into a car in downtown Manhattan
        without being noticed. I out her body in the trunk and I drove - I drove 3,000 miles before I decided it was safe enough
        to dump the body. 3000 miles. I couldn't even tell you the name of the town, somewhere in the northwest. I left her
        in some kind of park, maybe a national park, I'm not sure. It was foggy as hell, I didn't bother digging a hole. I sat
        hey body leaning against a tree. Never heard anything on the news about anyone discovering the body.

    </p>


    <p>A young woman in her mid-thirties, short, brown hair with a barcode tatoo. This is what Jackson built his entire case on.
        This was the evidence he used to declare to his readers that Aaron Hillman was definitively the person who
        murdered Alexa Fairchild.
       His piece was 20,000 words - the above [500] and then 19,500 words of utter speculation. Alexa Fairchild
        lived in Princeton, so Hillman speculated that it was reasonable to believe she might have found herself in
        a bar in Manhattan, which was only a X minute train ride away.
    </p>

    <p>

       How could the public, or other journalists for that matter, have been willing to swallow such shitty
        piece of journalism? It only makes sense if we understand the time and place that Jackson was writing.

        This was the peak of historical crime. Historical crime has in fact been
        popular for half a millennia, dating back to the mid 19th century when the Scottish
        attorney William Roughead began moonlighting as a criminologist and publishing essays
        on various "matters criminous." By the 20th century writers such as Edmund Pearson,
        Truman Capote and Vincent Bugliosi had made "true crime" (the 20th century term for what
        we now call historical crime) a popular literary genre. In the early 21st century the
        genre made another resurgence with countless "podcasts" and documentaries.

        But the true crime genre was dealt a serious blow by the creation of the {Register} and
        improvements in surveillance technology (like {EagleTech}). We take it for granted these
        days that crimes like murder and kidnapping are almost non-existent because there is almost
        nothing that isn't recorded, stored and readily accessible for anyone who wants to know.

        By the late 22nd century some writers began to realize that while there were no true
        crimes tales to be told in their own era, they could still reach back to a time where facts
        were more tenuous. The new "historical crime" genre became its own sort of cottage industry.
        Self-proclaimed journalists began scouring the Register as well as the {deep web} for unsolved
        crimes dating back a century or two. The trick to telling a good crime story, it turned out,
        was to have just enough information to make the reader curious, but so much that it overly
        constrained the narrative.

        Elliott Jackson wrote about Alexa Fairchild on the tail end of this historical crime craze
        - just as it seemed that the well had gone dry. The story was shared by 4.5 billion readers.



    </p>


    </div>


</div>