<div class="chapter_head">

    <!--<div class="chapter_number">CHAPTER 1</div>-->
    <div class="chapter_title">CHAPTER 1</div>

</div>

<div class="section">

    <div class="section_body">

    <p><p class="first_letter">T</p>o understand the journey I've been on for the last year, the journey that was completed when
    I finally published this piece, I want to take you to the beginning.</p>

    <p>It all started with a cryptic message I received. The message came from a source who I'll refer to as Johnny. </p>

    <!--message-->

    </div>
    <div id="puzzle1_container">
        <div id="puzzle1">

            <div class="puzzle1row">
            <div>I</div><div>H</div><div>A</div><div>V</div><div>E</div><div>A</div><div>Q</div><div>U</div><div>?</div>
            <div>S</div><div>T</div><div>I</div><div>O</div><div>N</div><div>F</div><div>O</div><div>R</div><div>Y</div>
            <div>O</div><div>U</div>
            </div>


            <div class="puzzle1row">
            <div>W</div><div>O</div><div>U</div><div>L</div><div>D</div><div>Y</div><div>O</div><div>U</div><div>L</div>
            <div>I</div><div>K</div><div>E</div><div>T</div><div>O</div><div>H</div><div>E</div><div>A</div><div>R</div>
                <div>I</div><div>T</div>
            </div>


        </div>
    </div>

    <div class="section_body">
    <p>As a reporter I've received strange messages before. But this one stuck out. I was curious.
        So I replied "yes." Several days went by without any reply. A day later I tried again.
        It took me some time before I realized that the sender was looking for a very particular response.</p>


        <div class=puzzle_input></div><div class=puzzle_input_decorator>&gt</div>
        <form id=puzzle1_form_command autocomplete="off">
            <input type="text" name="command" id="puzzle1_input">
            <input type="submit" value="Submit" id="puzzle1_submit" class="puzzle_submit">
        </form>

    </div>

    <div class="scroll_down_container">

        <div id="section1_scroll_down" class="section_scroll_down"></div>

    </div>


</div>

