
<div class="chapter_head">

    <div class="chapter_title">CHAPTER 2</div>

</div>


<div class="section">

    <div class="section_body">

        <p><p class="first_letter">A</p>lexa Fairchild was born on X. She lived and died in a different era from our own. An era before every bit regarding every body was archived and made unalterable.</p>


        <p>Before mystery became a near impossibility.</p>

        <p>What we know comes from an entry in the old Wiki database, last dated X along with a few supplemental documents that showed up in various datamines discovered over the years. All this information had been gathered and placed at the decrypted [address].</p>

        <p>We know she was born in St. Paul, Minnesota. She attended a small liberal arts college Bryn Mawr and then Harvard, where she earned a PhD in theoretical physics. She won various awards.</p>

        <p>Her wiki-entry makes no mention of her disappearance, presumably it occurred after the final updates to the file system. </p>

        <p>In X, Fairchild was profiled in Time magazine's List of 100. It gives by far the richest characterization of her of anything we have.</p>


        <hr>

        <div class="double_col_article">

            <p>Alexa Fairchild, who stands at just over five feet tall, doesn't look particularly formidable. But many of her students and even colleagues find her intimidating. "Her mind just seems to work differently," said a former colleague, himself a world renowned mathematician. "I once brought a theorem to her that I thought she might have some ideas about how to attack. Right there in her office, in the span of forty five minutes she'd basically sketched out a full proof. I'd spent six months trying to prove it myself before I'd showed it to her!"</p>

            <p>The 33 year old physicist who recently received tenure at the illustrious Institute for Advanced Study in Princeton, didn't always love math, but she did grow up obsessed with puzzles. Sitting in her office at the IAS her excitement was palpable.</p>

            <p>"I can remember being obsessed with puzzles way back in elementary school. In high school, I got C's in algebra and pre-calculus, because I spent all my time solving strange puzzles," Fairchild recalls. "I was obsessed with an old book I had by Martin Gardner. He was this mathematician who spent his time devising and tweaking puzzles for public consumption."</p>

            <p>Fairchild is such a die hard puzzle fanatic that she has a puzzle tattooed on her [body].</p>

            <p>Fairchild didn't take math seriously until she got to college, but once she did, the gloves came off. "I realized calculus and geometry and even more advanced topics like differential topology - they were all just more abstract versions of puzzles - but puzzles that all fit together in this amazingly unified way."</p>

            <p>She became interested in physics after attending a public lecture by the renowned physicist Lisa Randall. "I heard Randall lecture, on extra dimensions I think, and I was enthralled. Here was this brilliant woman - you didn't see a lot of women represented in physics at the time - using high level mathematics to investigate the deepest puzzles about our universe. I was hooked."</p>

            <p>[article wrap up]</p>


        </div>

        <hr>

    </div>




    <div class="section_body">

        <p>I also found a few dozen posts on a blog she apparently once maintained. Most of the posts are about her research, flooded with terms like [ ]. But in one post, titled Alexa's Problem, she shared a puzzle she'd come up with herself apparently - in which a (fictional) Cheryl picks two positive numbers, and tells Albert one and Bernard the other and the reader must guess their numbers from the ensuing discussion.</p>




        <!--TESTING-->
      <div id="puzzlebox1Button">PuzzleBox1</div>
      <div id="PuzzleBox1" class="hide">


          <div class="puzzle3_lines>"><div class="puzzler3">Cheryl</div> <div class="puzzle3_msg">Hello Albert and Bernard! I have given you each a different number from 0 to infinity. Who of you has the larger number?</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Albert</div> <div class="puzzle3_msg">I don't know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Bernard</div> <div class="puzzle3_msg">I don't know either.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Albert</div> <div class="puzzle3_msg">Even though you say that, I still don't know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Bernard</div> <div class="puzzle3_msg">And still neither do I.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Albert</div> <div class="puzzle3_msg">Alas, I continue not to know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Bernard</div> <div class="puzzle3_msg">And also I do not know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Albert</div> <div class="puzzle3_msg">Yet, I still do not know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Bernard</div> <div class="puzzle3_msg">I still don't know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Albert</div> <div class="puzzle3_msg">And I still do not know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Bernard</div> <div class="puzzle3_msg">I still don't know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Albert</div> <div class="puzzle3_msg">And I still do not know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Bernard</div> <div class="puzzle3_msg">I still don't know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Albert</div> <div class="puzzle3_msg">And I still do not know.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Bernard</div> <div class="puzzle3_msg">Aha! Now I know which of us has the larger number.</div></div>

          <div class="puzzle3_lines>"><div class="puzzler3">Albert</div> <div class="puzzle3_msg">In that case, I know both our numbers too.</div></div>




      </div>


        <div id="puzzlebox2Button">PuzzleBox2</div>
        <div id="PuzzleBox2" class="hide">

            <p>Three gods A, B, and C are called, in no particular order, True, False, and Random.
                True always speaks truly, False always speaks falsely, but whether Random speaks
                truly or falsely is a completely random matter. Your task is to determine the
                identities of A, B, and C by asking three yes-no questions; each question must be
                put to exactly one god. The gods understand English, but will answer all questions
                in their own language, in which the words for yes and no are da and ja, in some order.
                You do not know which word means which.</p>

            <p>Boolos provides the following clarifications:[2] a single god may be asked more
                than one question, questions are permitted to depend on the answers to earlier
                questions, and the nature of Random's response should be thought of as depending
                on the flip of a fair coin hidden in his brain: if the coin comes down heads, he
                speaks truly; if tails, falsely.</p>


        </div>

        <div id="puzzlebox3Button">PuzzleBox3</div>
        <div id="PuzzleBox3" class="hide">


            <p>An explorer walks one mile due south, turns and walks one mile due east, turns again and walks
                one mile due north.
                He finds himself back where he started. He shoots a bear. What color is the bear?</p>

            <p>This particular version of the riddle is well known enough.</p>

            <p>But not long ago, someone made the discovery that the North Pole is not the only starting
                point that satisfies the given conditions! Can you think of any other
                spot on the globe from which one could walk a mile south, a mile east, a mile north, and
                find himself back at his original location?</p>


        </div>




        <div class="section_body">

            Though most of her blog posts dealt with her research or puzzles, I found one that was more personal.
            The post described how she'd recently, at the age of 34, been diagnosed with a rare form of cancer.
            The prognosis was dire and so she'd been looking into what she referred to as "alternative treatments."
            She was especially optimistic about the promises of cryo-treatments, which were new at the time. She'd
            even gone so far as to sign up for a consultation with Ubik (this was well before Ubik merged with Mayer Cryo Solutions
            to form Ubik-Mayer).


        </div>

        <div class="section_body">


            <p>Also among the records of Alexa Fairchild was a brief newspaper clipping: the only mention of Alexa Fairchild that post-dates her wikipage:</p>

            <!--Insert image -->
            IMAGE OF NEWS CLIP...

            <div class="news_clip">Professor Vanished: Alexa Fairchild, the 35 year old professor of physics at the IAS has been missing for three weeks. She was last seen [ ]. Friends and colleagues say they did not have any reason to believe she was in unhappy or in trouble. At the time of this report no family members could be reached for comment. The Princeton police department has opened a missing persons case and police request that anyone having potentially useful information should contact the local station.</div>

            <p>That was last anyone had heard of Alexa Fairchild until Jackson's piece was published 200 years later.</p>


        </div>


    </div>

</div>