<div class="section">

    <div class="section_body">


        <p>Also among the records of Alexa Fairchild was a brief newspaper clipping: the only mention of Alexa Fairchild that post-dates her wikipage:</p>

        <!--Insert image -->
        IMAGE OF NEWS CLIP...

        <div class="news_clip">Professor Vanished: Alexa Fairchild, the 35 year old professor of physics at the IAS has been missing for three weeks. She was last seen [ ]. Friends and colleagues say they did not have any reason to believe she was in unhappy or in trouble. At the time of this report no family members could be reached for comment. The Princeton police department has opened a missing persons case and police request that anyone having potentially useful information should contact the local station.</div>

        <p>That was last anyone had heard of Alexa Fairchild until Jackson's piece was published 200 years later.</p>


    </div>

</div>