
<div id="start_body">

    <div class="start_header">
        <div id="start_explainer">Please sign up to continue reading this article on Milieu.</div>

    </div>

    <div id="start_credentials">
        <div id="start_user_label"></div>
        <div id="start_user_name">user137</div>

        <div class="start_row">

            <form id="start_view_command">
                <input id="password" required type="password">
                <label id="password-label" alt="New password" placeholder="New password" data-info="Very weak"></label>
            </form>
            <div class="progress_bar" id="strength-bar"></div>
        </div>

    </div>

</div>